<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taking App</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container mt-5 pt-5">
        <h1 class="mt-5 text-center">Notes</h1>
        <div class="row">            
            <% user.notes.forEach(note => { %>
                <div class="col-md-4 mb-4">
                    <div class="card" id="<%= note.id %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= note.title %></h5>
                            <p class="card-text"><%= note.content %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>